<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas amet veritatis eum dicta maiores. Reiciendis numquam doloribus neque repellat repellendus.</p>
    </header>
    <div style="width: 30%; padding: 4rem">
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti odio veritatis eius dolores ad facere eveniet necessitatibus voluptatem, ipsam totam asperiores cumque iure voluptate soluta aliquam nihil nostrum mollitia quibusdam! At a dicta neque, explicabo aspernatur accusantium temporibus est. Ex exercitationem, doloremque nemo molestiae itaque unde non rerum ipsam fuga.</div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div>
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas amet veritatis eum dicta maiores. Reiciendis numquam doloribus neque repellat repellendus.</p>
    </div>
</section>