<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get Started</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt cupiditate vero nesciunt ea laudantium dolorum obcaecati debitis, repellat odit id? Ducimus dolor nobis ea maxime aut at recusandae quae autem, ad facilis facere asperiores ipsam. Pariatur, reiciendis maxime, magnam voluptas ex necessitatibus fugiat voluptate quidem fuga repudiandae tenetur ab quibusdam?
            </p>
        </div>
        <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
</div>