<section class="block container block-domain">
    <header class="block__header">
        <h2>Stargin at 9 per month</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio facere, iusto magnam quam eos cum quaerat ullam maiores eveniet voluptatibus!</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Enter domain name here...">
        <button class="btn btn--accent">    
            <svg class="icon icon--white">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
            SEARCH
        </button>
    </div>
    <ul class="list block-domain__prices">
        <li><div class="badge badge--secondary">test</div></li>
        <li>asdf</li>
        <li>asdf</li>
        <li>asdf</li>
        <li>asfd</li>
        <li>asdf</li>
    </ul>
   </section>